<!--
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>{{pageTitle}}</h1>
            <form method="post">
                {{# fields}}
                    <p>
                        <label for="{{properties.id}}">{{properties.labelText}}</label> <br />
                        {{{ html }}}
                    </p>
                {{/fields}}

                <h2>Registered Styles</h2>
                <p>
                    <a id="toggleSelection" href="#">Select All</a>
                </p>
                <ul class="registeredStyles">
                    {{# styles}}
                        <li>{{{ html }}} <label for="{{properties.id}}">{{properties.labelText}}</label> </li>
                    {{/styles}}
                </ul>
                <p>
                    <input type="submit" value="Save" class="button button-primary"/>
                </p>
            </form>
        </div>
    </div>
</div>
-->

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <!--Display welcome message if no styles are loaded -->
            {{#welcome}}
                <div class="jumbotron">
                    <h1>{{title}}</h1>
                    <div class="content">{{{message}}}</div>
                    <p><a class="btn btn-primary btn-lg" href="{{homeURL}}" target="_blank">{{homeLink}}</a></p>
                </div>
            {{/welcome}}
            <!-- Display the Styles here -->
            {{^welcome}}
                <h2>Styles</h2>
                <ul class="list-group row" id="sortableStyles">
                    {{#styles}}
                        <li class="list-group-item col-md-4 icon-container">
                            <span class="ui-icon ui-icon-arrow-4-diag">&nbsp;</span>
                            <input type="text" readonly value="00" class="styleIndex" name="styleIndex" />
                            <label class="styleTitle">{{properties.labelText}}</label>
                            <input type="hidden" class="styleHandler" value="{{properties.labelText}}" />
                            <input type="text" name="styleTag" value="{{properties.labelText}}" class="styleTag" />
                        </li>
                    {{/styles}}
                </ul>
            {{/welcome}}

        </div>
    </div>
</div>